// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$printify-catalog-primary: mat-palette($mat-indigo);
$printify-catalog-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$printify-catalog-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$printify-catalog-theme: mat-light-theme($printify-catalog-primary, $printify-catalog-accent, $printify-catalog-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($printify-catalog-theme);

/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body,
input[type='text'],
button {
  color: #333;
  font-family: Roboto, Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
